# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log
venv/
.env

# VSCode
.vscode/

# macOS
.DS_Store

# IDE
.idea/

# Docker
*.env

# Streamlit
.streamlit/secrets.toml

# Local testing files
testing_registry.py
app.py
backend/rag/test_query.py
backend/rag/test_notion.py
backend/rag/test_ingestion.py
txt
docs/

uploads/
app.pystreamlit.py
