# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log
venv/
.env

# VSCode
.vscode/

# macOS
.DS_Store

# IDE
.idea/

# Docker
*.env

# Streamlit
.streamlit/secrets.toml

# Local testing files
api_documentation.md
testing_registry.py
txt
docs/


uploads/